@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Manrope", "NotoSansThai", Arial, Helvetica, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  overscroll-behavior: none;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../../public/fonts/NotoSansThai.ttf") format("opentype");
  unicode-range: U+0E00- U+0E7F;
  font-weight: 500 600 700 800 900;
}

@font-face {
  font-family: "Sarabun";
  src: url("../../public/fonts/Sarabun-regular.ttf") format("opentype");
  unicode-range: U+0E00- U+0E7F;
  font-weight: 500 600 700 800 900;
}

@font-face {
  font-family: "SarabunBold";
  src: url("../../public/fonts/Sarabun-Medium.ttf") format("opentype");
  unicode-range: U+0E00- U+0E7F;
  font-weight: 500 600 700 800 900;
}

@font-face {
  font-family: "Chula";
  src: url("../../public/fonts/ChulaNarak\ Regular.ttf") format("opentype");
  unicode-range: U+0E00- U+0E7F;
  font-weight: 500 600 700 800 900;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.font-chula {
  font-family: "Chula", Arial, Helvetica, sans-serif !important;
  font-weight: 500; /* Adjust weight if necessary */
}

.font-sarabun {
  font-family: "Sarabun", Arial, Helvetica, sans-serif !important;
  font-weight: 500; /* Adjust weight if necessary */
}

.font-sarabunBold {
  font-family: "SarabunBold", Arial, Helvetica, sans-serif !important;
  font-weight: 600; /* Adjust weight if necessary */
}

/* For Firefox */
.scroller {
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
  scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 8px;
}

@keyframes blink {
  0%,
  100% {
  }
  50% {
    color: transparent;
  }
}

.blink {
  animation: blink 1s ease-in-out 5;
}

.gradient-bg {
  background: radial-gradient(
    circle at center bottom,
    #39cece,
    #22a0a0,
    #007d7d,
    #004d4d
  );
}

.gradient-try {
  background: radial-gradient(
    circle at center bottom,
    rgb(228, 247, 250) 25%,
    rgb(226, 249, 251) 50%,
    rgb(248, 245, 239) 75%,
    rgb(251, 240, 226) 100% /* Warm pastel edges */
  );
}

.gradient-try-big {
  background: radial-gradient(
    circle at center bottom,
    rgb(228, 247, 250) 25%,
    rgb(226, 249, 251) 50%,
    rgb(248, 245, 239) 75%,
    rgb(251, 240, 226) 100% /* Warm pastel edges */
  );
  box-shadow: 4px 0px 3px rgba(0, 0, 0, 0.12);
}

.gradient-unsupport {
  background: radial-gradient(
    circle at center bottom,
    #c3d9ff,
    #accbf8,
    #c5eafa,
    #c6f0fb
  );
}

.countdown-active {
  position: relative;
  overflow: hidden; /* Ensure the moving element stays within the button */
  color: #ffffff; /* Ensure text color contrasts the background */
}

.countdown-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* Start from the left */
  height: 100%;
  width: 100%;
  background-color: #2753a5; /* Solid black color */
  transform: translateX(-100%); /* Start fully outside on the left */
  animation: moveSolidColor 5s linear forwards; /* Duration: 6 seconds */
  z-index: 0; /* Keep the background behind the text */
}

.countdown-active span {
  position: relative;
  z-index: 1; /* Text is above the moving background */
}

@keyframes moveSolidColor {
  0% {
    transform: translateX(-100%); /* Start outside the left edge */
  }
  100% {
    transform: translateX(0); /* Fill the entire button */
  }
}

body {
  user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
}

@media (pointer: coarse) {
  body {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
  }
}

.gradient-bg-navbar {
  width: 100%;
  background: linear-gradient(to right, #c3d9ff, #a3c9ff, #8fd6f7, #b1f0ff);
}

::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 8px;
  border: 2px solid transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Manrope", "NotoSansThai", Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0, 90%, 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 230, 79%, 25%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  /* .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
